@tailwind base;
@tailwind components;
@tailwind utilities;

:root::-webkit-scrollbar{
    display: none;
}

.bg_image{
    /* background: url('./assets/images/homepage/webp/hero_bg_image.webp'); */
    background-position: center;
    background-size: 100% 100%;
}
.no-scroll{
    overflow: hidden;
}