@tailwind base;
@tailwind components;
@tailwind utilities;

.slick-prev:before {
    content: url("./assets/images/homepage/svg/left-arrow.svg");
    opacity: 1;
}
.slick-next:before {
    content: url("./assets/images/homepage/svg/right-arrow.svg");
    opacity: 1;
}
.slick-prev, 
.slick-next {
    top: -80px !important;
    display: block;
    width: 40px !important;
    height: 40px !important;
    border: 2px solid black !important;
    border-radius: 50% !important;
    transform: translate(0, 0) !important;
    overflow: hidden;
  

}
.slick-prev{
    left: unset !important;
    right: 75px !important;
}
.slick-next{
    right: 5px !important;
}
.slick-prev:hover{
    background-color:#ffcc02;
}
.slick-next:hover{
    background-color:#ffcc02;
}